/* frontend/src/App.css */
body {
  background-color: rgb(34, 34, 34);
  margin: 0;
  padding: 0;
}

.header {
  display: flex;
  justify-content: space-around;
  padding-right: 35px;
  align-items: center;
  padding-top: 0%;
  padding-left: 0%;
  opacity: 0.6;

  gap: 30px;
  font-style: normal;
  text-decoration: none;
  font-size: 20px;
  font-family: cursive;
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  background: transparent;
}

.header a {
  color: #cbcbcb;
  padding: 2px;
  padding-left: 5px;
  padding-right: 5px;
  border-radius: 10px;
  opacity: 0.7;
  
  text-decoration: none;
  background-color: rgb(55, 55, 55);


  transition: background 0.2s, color 0.2s;

}

.header a:hover {
  background-color: #444;
  color: #fff;
  border-radius: 5px;
}

.logo {
  width: 150px;
  height: 150px;

}

.container {
  justify-content: center;
  position: relative;
  margin: 0;
  padding: 0;
  width: 60%;

 
  margin: 50px auto;
  height: 220px; /* or height roughly equal to .background-text font-size + some padding */
  /* font-family and color kept as is */
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color: #444;
}


.background-text {
  justify-content: center;
  position: absolute;
  top: 10px; /* adjust as needed */

  left: 0;
  font-size: 300px;
  color: rgba(68, 68, 68, 0.15); /* use lighter color and opacity for subtle background effect */
  user-select: none;
  pointer-events: none;
  z-index: 1;
  white-space: nowrap; /* prevent wrapping */
}


.foreground-text {
  justify-content: center;
  position: relative;
  z-index: 2;
  font-size: 148px;
  color: #232946;
  margin: 0;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  white-space: nowrap;

}

.second-page {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 60%;
  margin-top: 23%;
  margin-left: 33%;

}
.moon {
  width: 800px;
  height: 450px;
  position: absolute;
  top: 16%;
  bottom: 0%; /* adjust as needed */
   /* adjust as needed */
}
.moon cha{
  width: 30px;
}


.second-page p{
  text-shadow: #ff0000 77px 77px 74px ;
  color: #fff;
  opacity: 0.4;
}







p {
  font-size: 18px;
  color: #444;
}