/* frontend/src/App.css */
body {
  background-color: rgb(34, 34, 34);
  margin: 0;
  padding: 0;
}

.header {
  display: flex;
  justify-content: space-around;
  padding-right: 35px;
  align-items: center;
  padding-top: 0%;
  padding-left: 0%;

  gap: 30px;
  font-style: normal;
  text-decoration: none;
  font-size: 20px;
  font-family: cursive;
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  background: transparent;
}

.header a {
  color: #cbcbcb;
  text-decoration: none;


  transition: background 0.2s, color 0.2s;

}

.header a:hover {
  background-color: #444;
  color: #fff;
  border-radius: 5px;
}

.logo {
  width: 150px;
  height: 150px;

}

.container {
  position: relative;
  width: max-content;
  margin: 50px auto;
  height: 220px; /* or height roughly equal to .background-text font-size + some padding */
  /* font-family and color kept as is */
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color: #444;
}


.background-text {
  position: absolute;
  top: 10px; /* adjust as needed */
  left: 0;
  font-size: 300px;
  color: rgba(68, 68, 68, 0.15); /* use lighter color and opacity for subtle background effect */
  user-select: none;
  pointer-events: none;
  z-index: 1;
  white-space: nowrap; /* prevent wrapping */
}


.foreground-text {
  position: relative;
  z-index: 2;
  font-size: 148px;
  color: #232946;
  margin: 0;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
  padding-top: 10%;
}





p {
  font-size: 18px;
  color: #444;
}